.navbar-item {
  font-size: 20px;
  color: white;
}
.navbar-item:hover {
  color: blue;
}
.navbar-dropdown {
  background-color: transparent;
  border-top: 0;
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}
#drop {
  color: black;
}
#drop:hover {
  color: blue;
}
.navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
  color: #3273dc;
}
#number {
  outline: none;
  cursor: default;
  color: white;
}
html,
body,
nav {
  background-image: url(http://www.userlogos.org/files/backgrounds/soundofemotion/gray_gradient_holograph.jpg);
}
.hero.is-info {
  background-image: url(images/RPRmgm.png) !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  top: 20%;
  left: 2%;
}
